*{
    padding: 0px;
    margin: 0px;
    color: white;
}

header{
    width: 904px;
    height: 157px;
    margin-bottom: 20px;
}

body{
    background: rgb(20,0,36);
}

.backgroundhead{
    background-color: #D9D9D9;
    align-items: center;
    border-radius: 20px;
    filter: blur(3px);
    position: relative;
}

.head{
    text-align: center;
    padding: 15px;
    width: 904px;
    height: 157px;
    position: relative;
    margin-top: 15px;
}

.content{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 50px;
}


.datos{
    font-size: 25px;
    padding: 10px;
    margin-left: 30px;
}

.nombre{
    margin-right: 10px;
    display: flex;
    margin-top: 35px;
}

.apellido{
    margin-right: 10px;
    display: flex;
    margin-top: 35px;
}
section{
    width: 0;
    margin: 0;
}

aside{
    float: right;
    width: 430px;
    height: 620px;
}



